/target/
/.idea
/.settings/
.classpath
.project
/chromedriver.exe
/chromedriver.exe
*.exe
test-output/junitreports/*
/test-output/
*.iml
*.jar
TestsScreenshots/*
*.versionsBackup
test-output/
Automation.html
/bin/
/dealerGroup1.html
/dealerReport1.html
/dealerReport.html
/cacReport.html
/cacReport1.html
/debug.log
.env
